flows/BMC_RF_Incident_Assignment_Notification-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Resolution_Rejected_Notification_Queue</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Queue: Resolution Rejected Notification</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Resolution_Rejected_Notification_Queue</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Resolution_Rejected_Notification_Staff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Staff: Resolution Rejected Notification</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Resolution_Rejected_Notification_Staff</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Creation_Notification_Queue_No_Category_or_Priority</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Queue: Incident Created Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Creation_Notification_Queue_No_Category_or_Priority</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Creation_Notification_Queue</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Queue: Incident Created Notification</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Creation_Notification_Queue</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Creation_Notification_Staff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Staff: Incident Created Notification</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Creation_Notification_Staff</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Assignment_Notification_Queue</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Queue: Incident Assigned Notification</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Assignment_Notification_Queue</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BMC_RF_Incident_Assignment_Notification_Staff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Staff: Incident Assigned Notification</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>BMCServiceDesk__Incident__c.BMC_RF_Incident_Assignment_Notification_Staff</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Queue: Incident Created (Mail Listen + Self Service)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Queue: Resolution Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_pmetdec</targetReference>
            </connector>
            <label>Staff: Resolution Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Queue: Incident Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Staff: Incident Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Queue: Incident Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Staff: Incident Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_11_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_13_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_13_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_13_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )),
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;),
ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;),ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )),
ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;),
ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;),ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )), ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}),
{!myVariable_current.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c),
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.OwnerId} )), ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c}),
{!myVariable_old.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id,
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id},
{!myVariable_current.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_current.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id,
[BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c = &quot;OPENED&quot;,
OR(PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =  &quot;RESOLVED&quot;, PRIORVALUE([BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c) =   &quot;CLOSED&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_old.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id},
{!myVariable_old.BMCServiceDesk__Status_ID__c} = &quot;OPENED&quot;,
OR(PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =  &quot;RESOLVED&quot;, PRIORVALUE({!myVariable_old.BMCServiceDesk__Status_ID__c}) =   &quot;CLOSED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )),
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;),
ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;),ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.OwnerId} )),
ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c}), {!myVariable_old.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;,
OR(ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;),
ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;),ISPICKVAL({!myVariable_old.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;,
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Chatter&quot;)),
NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Mail Listen&quot;)), NOT(ISPICKVAL([BMCServiceDesk__Incident__c].BMCServiceDesk__contactType__c, &quot;Self Service&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )), ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;,
NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Chatter&quot;)),
NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Mail Listen&quot;)), NOT(ISPICKVAL({!myVariable_current.BMCServiceDesk__contactType__c}, &quot;Self Service&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id, [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id}, {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id, [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_old.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_old.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id}, {!myVariable_old.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
NOT(ISBLANK([BMCServiceDesk__Incident__c].OwnerId )), ISCHANGED([BMCServiceDesk__Incident__c].OwnerId),
ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c), [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
NOT(ISBLANK({!myVariable_current.OwnerId} )), ISCHANGED({!myVariable_current.OwnerId}),
ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c}), {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
[BMCServiceDesk__Incident__c].BMCServiceDesk__state__c = TRUE,
ISCHANGED([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c),
NOT(ISBLANK([BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c)),
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKOpenBy__c &lt;&gt;$User.Id, [BMCServiceDesk__Incident__c].BMCServiceDesk__Status_ID__c &lt;&gt; &quot;RESOLVED&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
{!myVariable_current.BMCServiceDesk__state__c} = TRUE,
ISCHANGED({!myVariable_current.BMCServiceDesk__FKOpenBy__c}),
NOT(ISBLANK({!myVariable_current.BMCServiceDesk__FKOpenBy__c})),
{!myVariable_current.BMCServiceDesk__FKOpenBy__c} &lt;&gt;{!$User.Id}, {!myVariable_current.BMCServiceDesk__Status_ID__c} &lt;&gt; &quot;RESOLVED&quot;)</expression>
    </formulas>
    <interviewLabel>BMC_RF_Incident_Assignment_Notification-9_InterviewLabel</interviewLabel>
    <label>BMC_RF_Incident Assignment Notification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BMCServiceDesk__Incident__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
