flows/BMC_RF_Incident_Update_Client_Details-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>IBERIA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>LATAM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>PACIFIC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>PER-RIC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision34</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>PRG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision34</name>
        <label>myDecision34</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_35</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>PRNE</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision38</name>
        <label>myDecision38</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision42</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_39</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_39_A1</targetReference>
            </connector>
            <label>SSA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>BCO</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision42</name>
        <label>myDecision42</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_43</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_43</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_43_A1</targetReference>
            </connector>
            <label>WEE</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard EMEA&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName = &quot;Wyborowa, Pernod Ricard&quot;, &quot;Wyborowa&quot;,
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;_Pernod Ricard Rouss&quot;, &quot;Pernod Ricard Rouss&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Europe&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_0809170809</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard EMEA&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} = &quot;Wyborowa, Pernod Ricard&quot;, &quot;Wyborowa&quot;,
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;_Pernod Ricard Rouss&quot;, &quot;Pernod Ricard Rouss&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Europe&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard EMEA&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName = &quot;Wyborowa, Pernod Ricard&quot;, &quot;Wyborowa&quot;,
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;_Pernod Ricard Rouss&quot;, &quot;Pernod Ricard Rouss&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Europe&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_9191704691</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard EMEA&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} = &quot;Wyborowa, Pernod Ricard&quot;, &quot;Wyborowa&quot;,
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;_Pernod Ricard Rouss&quot;, &quot;Pernod Ricard Rouss&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Europe&quot;, &quot;Pernod Ricard Europe Middle East and Africa&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricar Spain&quot;, &quot;Pernod Ricard Espana&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_8368840745</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricar Spain&quot;, &quot;Pernod Ricard Espana&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricar Spain&quot;, &quot;Pernod Ricard Espana&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_13_A1_6695052153</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricar Spain&quot;, &quot;Pernod Ricard Espana&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Colombia - Sonda&quot;, &quot;Pernod Ricard Colombia&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_17_A1_0454335183</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Colombia - Sonda&quot;, &quot;Pernod Ricard Colombia&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Colombia - Sonda&quot;, &quot;Pernod Ricard Colombia&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_17_A1_2287047119</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Colombia - Sonda&quot;, &quot;Pernod Ricard Colombia&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Dominican&quot;, &quot;Pernod Ricard Dominicana&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Southernwine&quot;, &quot;Southern Wine and Spirits&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard North America&quot;, &quot;Pernod Ricard USA&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Travel Retail Americas&quot;, &quot;Pernod Ricard Americas Travel Retail&quot;,
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Corby Distilleries Ltd&quot;, &quot;Corby Spirit and Wine Limited&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName )))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_21_A1_5993003895</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Dominican&quot;, &quot;Pernod Ricard Dominicana&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Southernwine&quot;, &quot;Southern Wine and Spirits&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard North America&quot;, &quot;Pernod Ricard USA&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Travel Retail Americas&quot;, &quot;Pernod Ricard Americas Travel Retail&quot;,
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Corby Distilleries Ltd&quot;, &quot;Corby Spirit and Wine Limited&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} )))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Dominican&quot;, &quot;Pernod Ricard Dominicana&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Southernwine&quot;, &quot;Southern Wine and Spirits&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard North America&quot;, &quot;Pernod Ricard USA&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Travel Retail Americas&quot;, &quot;Pernod Ricard Americas Travel Retail&quot;,
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Corby Distilleries Ltd&quot;, &quot;Corby Spirit and Wine Limited&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName )))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_21_A1_7400546553</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Dominican&quot;, &quot;Pernod Ricard Dominicana&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Southernwine&quot;, &quot;Southern Wine and Spirits&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard North America&quot;, &quot;Pernod Ricard USA&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Travel Retail Americas&quot;, &quot;Pernod Ricard Americas Travel Retail&quot;,
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Corby Distilleries Ltd&quot;, &quot;Corby Spirit and Wine Limited&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} )))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard(Ningxia) Winemaker&quot;, &quot;Pernod Ricard Winemakers - Ningxia&quot;,[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_25_A1_1046305496</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard(Ningxia) Winemaker&quot;, &quot;Pernod Ricard Winemakers - Ningxia&quot;,{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard(Ningxia) Winemaker&quot;, &quot;Pernod Ricard Winemakers - Ningxia&quot;,[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_25_A1_1972769425</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard(Ningxia) Winemaker&quot;, &quot;Pernod Ricard Winemakers - Ningxia&quot;,{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PernodRicardTaiwan&quot;, &quot;Pernod Ricard Taiwan&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Singapore&quot;, &quot;Pernod Ricard Singapore&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Indonesia&quot;, &quot;Pernod Ricard Indonesia&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Japan&quot;, &quot;Pernod Ricard Japan&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName ))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_7895450153</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PernodRicardTaiwan&quot;, &quot;Pernod Ricard Taiwan&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Singapore&quot;, &quot;Pernod Ricard Singapore&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Indonesia&quot;, &quot;Pernod Ricard Indonesia&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Japan&quot;, &quot;Pernod Ricard Japan&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} ))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;MARTELL PRHolding&quot;, &quot;MARTELL &amp; CO&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;MUMM&quot;, &quot;GH MUMM&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard HQ&quot;, &quot;Pernod Ricard&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard SA&quot;, &quot;Pernod Ricard&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_32_myRule_31_A1_6332680472</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;MARTELL PRHolding&quot;, &quot;MARTELL &amp; CO&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;MUMM&quot;, &quot;GH MUMM&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard HQ&quot;, &quot;Pernod Ricard&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard SA&quot;, &quot;Pernod Ricard&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;MARTELL PRHolding&quot;, &quot;MARTELL &amp; CO&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;MUMM&quot;, &quot;GH MUMM&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard HQ&quot;, &quot;Pernod Ricard&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard SA&quot;, &quot;Pernod Ricard&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_33_myRule_31_A1_8767117872</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;MARTELL PRHolding&quot;, &quot;MARTELL &amp; CO&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;MUMM&quot;, &quot;GH MUMM&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard HQ&quot;, &quot;Pernod Ricard&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard SA&quot;, &quot;Pernod Ricard&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Finland&quot;, &quot;Pernod Ricard Finland&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_36_myRule_35_A1_6442582831</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Finland&quot;, &quot;Pernod Ricard Finland&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Finland&quot;, &quot;Pernod Ricard Finland&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_37_myRule_35_A1_8013270711</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Finland&quot;, &quot;Pernod Ricard Finland&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PernodRicardTaiwan&quot;, &quot;Pernod Ricard Taiwan&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Singapore&quot;, &quot;Pernod Ricard Singapore&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Indonesia&quot;, &quot;Pernod Ricard Indonesia&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;PR Japan&quot;, &quot;Pernod Ricard Japan&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName ))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_0820655510</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PernodRicardTaiwan&quot;, &quot;Pernod Ricard Taiwan&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Singapore&quot;, &quot;Pernod Ricard Singapore&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Indonesia&quot;, &quot;Pernod Ricard Indonesia&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;PR Japan&quot;, &quot;Pernod Ricard Japan&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} ))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Sub Saharan Africa Kenya&quot;, &quot;Pernod Ricard Kenya&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_40_myRule_39_A1_7794414801</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Sub Saharan Africa Kenya&quot;, &quot;Pernod Ricard Kenya&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Sub Saharan Africa Kenya&quot;, &quot;Pernod Ricard Kenya&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_41_myRule_39_A1_1357767773</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Sub Saharan Africa Kenya&quot;, &quot;Pernod Ricard Kenya&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Nederland BV&quot;, &quot;Pernod Ricard Nederland&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Nederland BV.&quot;, &quot;Pernod Ricard Nederland&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_44_myRule_43_A1_0324385267</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Nederland BV&quot;, &quot;Pernod Ricard Nederland&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Nederland BV.&quot;, &quot;Pernod Ricard Nederland&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Nederland BV&quot;, &quot;Pernod Ricard Nederland&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Pernod Ricard Nederland BV.&quot;, &quot;Pernod Ricard Nederland&quot;, 
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_45_myRule_43_A1_0865105836</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Nederland BV&quot;, &quot;Pernod Ricard Nederland&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Pernod Ricard Nederland BV.&quot;, &quot;Pernod Ricard Nederland&quot;, 
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;The Absolut Company&quot;, &quot;The Absolut Company (TAC)&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Chivas Brothers Limited&quot;, &quot;Chivas&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_9168319100</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;The Absolut Company&quot;, &quot;The Absolut Company (TAC)&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Chivas Brothers Limited&quot;, &quot;Chivas&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;The Absolut Company&quot;, &quot;The Absolut Company (TAC)&quot;, 
IF([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName  = &quot;Chivas Brothers Limited&quot;, &quot;Chivas&quot;, [BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_2934512787</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;The Absolut Company&quot;, &quot;The Absolut Company (TAC)&quot;, 
IF({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}  = &quot;Chivas Brothers Limited&quot;, &quot;Chivas&quot;, {!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard China&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard India&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Korea&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Japan&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Vietnam&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Asia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;PernodRicardTaiwan&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Thailand&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Singapore&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Hong Kong&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Helan Mountain&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Hong Kong Service Hub&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Malaysia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Indonesia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Philippines&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;PR Singapore&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Cambodia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Lanka&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Asia Travel Retail&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Taiwan&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;PR Indonesia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;PR Japan&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR(
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard China&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard India&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Korea&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Japan&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Vietnam&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Asia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;PernodRicardTaiwan&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Thailand&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Singapore&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Hong Kong&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Helan Mountain&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Hong Kong Service Hub&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Malaysia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Indonesia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Philippines&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;PR Singapore&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Cambodia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Lanka&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Asia Travel Retail&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Taiwan&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;PR Indonesia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;PR Japan&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Espana&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Portugal&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Spain&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Winemakers Spain&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Espana&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Portugal&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Spain&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Winemakers Spain&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Mexico&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Brasil&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Argentina&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Colombia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Chile&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Uruguay&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Venezuela&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Peru&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Andes&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;HCI Cuba&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Margarita&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Altos&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Casa Pedro Domecq&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Colombia - Sonda&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Mexico&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Brasil&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Argentina&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Colombia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Chile&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Uruguay&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Venezuela&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Peru&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Andes&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;HCI Cuba&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Margarita&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Altos&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Casa Pedro Domecq&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Colombia - Sonda&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard USA&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Hiram Walker &amp; Sons Ltd&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Corby Spirit and Wine Limited&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Canada&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Travel Retail Americas&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Winemakers USA&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Americas&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Americas Travel Retail&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Ungava Spirits Co. Ltd.&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Dominicana&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Dominican&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Southernwine&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Southern Wine and Spirits&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;RNDC&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard North America&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Corby Distilleries Ltd&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard USA&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Hiram Walker &amp; Sons Ltd&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Corby Spirit and Wine Limited&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Canada&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Travel Retail Americas&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Winemakers USA&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Americas&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Americas Travel Retail&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Ungava Spirits Co. Ltd.&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Dominicana&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Dominican&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Southernwine&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Southern Wine and Spirits&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;RNDC&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard North America&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Corby Distilleries Ltd&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Winemakers&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Winemakers - Australia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Australia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard New Zealand&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Travel Retail Asia Pacific&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Gulf&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard(Ningxia) Winemaker&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Pacific Travel Retail&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Winemakers - New Zealand&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Winemakers&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Winemakers - Australia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Australia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard New Zealand&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Travel Retail Asia Pacific&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Gulf&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard(Ningxia) Winemaker&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Pacific Travel Retail&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Winemakers - New Zealand&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;RICARD&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;PERNOD&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;LILLET&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;RICARD&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;PERNOD&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;LILLET&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;MARTELL &amp; CO&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;GH MUMM&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;PERRIER-JOUET S.A.&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Centre de Recherche Pernod Ricard&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;MUMM PERRIER-JOUET VIGNOBLES&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;HCI Paris&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;GEN-RIC&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;DOMAINE JEAN MARTELL&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;SOCIETE DES PRODUITS D&apos;ARMAGNAC&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;MARTELL PRHolding&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;MUMM&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard HQ&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard SA&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;MARTELL &amp; CO&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;GH MUMM&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;PERRIER-JOUET S.A.&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Centre de Recherche Pernod Ricard&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;MUMM PERRIER-JOUET VIGNOBLES&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;HCI Paris&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;GEN-RIC&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;DOMAINE JEAN MARTELL&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;SOCIETE DES PRODUITS D&apos;ARMAGNAC&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;MARTELL PRHolding&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;MUMM&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard HQ&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard SA&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Nordic&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;PR Finland&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Latvia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Lithuania&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Estonia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Denmark&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Sweden&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Finland&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_35</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Nordic&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;PR Finland&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Latvia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Lithuania&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Estonia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Denmark&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Sweden&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Finland&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard South Africa&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Kenya&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Nigeria&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Sub Saharan Africa&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard West Africa&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Angola&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Mozambique&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Namibia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Sub Saharan Africa Kenya&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_39</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard South Africa&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Kenya&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Nigeria&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Sub Saharan Africa&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard West Africa&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Angola&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Mozambique&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Namibia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Sub Saharan Africa Kenya&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Deutschland&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Belgium&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Swiss&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Nederland&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Austria&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Nederland BV&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Nederland BV.&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_43</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Deutschland&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Belgium&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Swiss&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Nederland&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Austria&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Nederland BV&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Nederland BV.&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Chivas&quot;,[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Irish Distillers&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;The Absolut Company (TAC)&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;The Absolut Company&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Chivas Brothers Limited&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Chivas&quot;,{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Irish Distillers&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;The Absolut Company (TAC)&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;The Absolut Company&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Chivas Brothers Limited&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(AND(ISNEW(), NOT(ISBLANK(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c))), ISCHANGED(
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c)), OR([BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Rouss&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Wyborowa, Pernod Ricard&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard UK&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Yerevan Brandy Company&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Jan Becher&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Italia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Turkey&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Europe Middle East and Africa&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Hellas&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Ukraine&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Kazakhstan&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Travel Retail Europe&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Romania&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Slovakia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Bulgaria&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Maroc&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Hungary&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Middle East &amp; North Africa&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Slovenia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Serbia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Croatia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;CG Hibbert Ltd&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Armenia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Minsk&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Andorra&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Bosnia&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard East Africa&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard EMEA&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;_Pernod Ricard Rouss&quot;,
[BMCServiceDesk__Incident__c].BMCServiceDesk__FKClient__c.CompanyName =&quot;Pernod Ricard Europe&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(AND(ISNEW(), NOT(ISBLANK(
{!myVariable_current.BMCServiceDesk__FKClient__c}))), ISCHANGED(
{!myVariable_current.BMCServiceDesk__FKClient__c})), OR({!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Rouss&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Wyborowa, Pernod Ricard&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard UK&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Yerevan Brandy Company&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Jan Becher&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Italia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Turkey&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Europe Middle East and Africa&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Hellas&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Ukraine&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Kazakhstan&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Travel Retail Europe&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Romania&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Slovakia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Bulgaria&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Maroc&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Hungary&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Middle East &amp; North Africa&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Slovenia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Serbia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Croatia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;CG Hibbert Ltd&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Armenia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Minsk&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Andorra&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Bosnia&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard East Africa&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard EMEA&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;_Pernod Ricard Rouss&quot;,
{!myVariable_current.BMCServiceDesk__FKClient__c.CompanyName} =&quot;Pernod Ricard Europe&quot;))</expression>
    </formulas>
    <interviewLabel>BMC_RF_Incident_Update_Client_Details-7_InterviewLabel</interviewLabel>
    <label>BMC_RF_Incident Update Client Details</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BMCServiceDesk__Incident__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>IBERIA Affiliate and Region</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_14_myRule_13_A1_8368840745</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_15_myRule_13_A1_6695052153</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>IBERIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>IBERIA</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>LATAM Affiliate and Region</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_18_myRule_17_A1_0454335183</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_19_myRule_17_A1_2287047119</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>LATAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>LATAM</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>APAC Affiliate and Region</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_7895450153</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_0820655510</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>APAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>APAC</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>NA Affiliate and Region</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_22_myRule_21_A1_5993003895</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_23_myRule_21_A1_7400546553</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>PACIFIC Affiliate and Region</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_26_myRule_25_A1_1046305496</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_27_myRule_25_A1_1972769425</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>PACIFIC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>PACIFIC</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>PER-RIC Affiliate and Region</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>myVariable_current.BMCServiceDesk__FKClient__r.CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>myVariable_current.BMCServiceDesk__FKClient__r.CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>PER-RIC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>PER-RIC</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>PRG Affiliate and Region</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_32_myRule_31_A1_6332680472</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_33_myRule_31_A1_8767117872</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>PRG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>PRG</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_35_A1</name>
        <label>PRNE Affiliate and Region</label>
        <locationX>3500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_36_myRule_35_A1_6442582831</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_37_myRule_35_A1_8013270711</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>PRNE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>PRNE</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_39_A1</name>
        <label>SSA Affiliate and Region</label>
        <locationX>3900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_40_myRule_39_A1_7794414801</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_41_myRule_39_A1_1357767773</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>SSA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>SSA</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_43_A1</name>
        <label>WEE Affiliate and Region</label>
        <locationX>4300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_44_myRule_43_A1_0324385267</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_45_myRule_43_A1_0865105836</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>WEE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>WEE</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>BCO Affiliate and Region</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_9168319100</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_2934512787</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>BCO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>BCO</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BMCServiceDesk__Incident__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>EMEA Affiliate and Region</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Affiliate__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_0809170809</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Affiliate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Affiliate__c</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_9191704691</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Demand Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Demand_Region__c</field>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>BMC_RF_Region__c</field>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
