flows/CCPE_Change_Request_Create_and_Link-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Incident</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incident</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CCPE_Incident_or_Project</name>
        <label>CCPE_Incident or Project</label>
        <locationX>43</locationX>
        <locationY>74</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCPE_Create_and_Link_Change_Request_Incident</targetReference>
            </connector>
            <label>Is Incident</label>
        </rules>
        <rules>
            <name>Is_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCPE_Create_and_Link_Change_Request_Project</targetReference>
            </connector>
            <label>Is Project</label>
        </rules>
        <rules>
            <name>Is_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCPE_Create_and_Link_Change_Request_Problem</targetReference>
            </connector>
            <label>Is Problem</label>
        </rules>
    </decisions>
    <interviewLabel>CCPE_Change Request Create and Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCPE_Change Request Create and Link</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CCPE_Create_and_Link_Change_Request_Incident</name>
        <label>CCPE_Create and Link Change Request Incident</label>
        <locationX>360</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>CCPE_Create_and_Link_Change_Request_Incident_False</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCPE_Create_and_Link_Change_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CCPE_Create_and_Link_Change_Request_Incident_False</name>
        <label>CCPE_Create and Link Change Request Incident False</label>
        <locationX>682</locationX>
        <locationY>315</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCPE_Create_and_Link_Change_Request__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CCPE_Create_and_Link_Change_Request_Problem</name>
        <label>CCPE_Create and Link Change Request Problem</label>
        <locationX>362</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>CCPE_Create_and_Link_Change_Request_Problem_False</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProblemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Create_and_Link_Change_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Problem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CCPE_Create_and_Link_Change_Request_Problem_False</name>
        <label>CCPE_Create and Link Change Request Problem False</label>
        <locationX>663</locationX>
        <locationY>95</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProblemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMC_RF_Create_and_Link_Change_Request__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Problem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CCPE_Create_and_Link_Change_Request_Project</name>
        <label>CCPE_Create and Link Change Request Project</label>
        <locationX>271</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>CCPE_Create_and_Link_Change_Request_Project_False</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCPE_Create_and_Link_Change_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CCPE_Create_and_Link_Change_Request_Project_False</name>
        <label>CCPE_Create and Link Change Request Project False</label>
        <locationX>451</locationX>
        <locationY>520</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCPE_Create_and_Link_Change_Request__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <startElementReference>CCPE_Incident_or_Project</startElementReference>
    <variables>
        <name>IncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProblemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TicketID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
